@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>

<a class="btn btn-default" asp-area="" asp-action="About">Statistics</a>

<h2>Available entities:</h2>

<div class="row text-center">
    <div class="col-md-3">
        <p><a class="btn btn-default" asp-area="" asp-controller="Students" asp-action="Index">Students</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" asp-area="" asp-controller="Instructors" asp-action="Index">Instructors</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample application that
            demonstrates how to use Entity Framework Core 1.0 in an
            ASP.NET Core MVC 1.0 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>