@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<First_App.Models.ToDoItem>

<h3>Priority Items</h3>
<ul>
    @foreach (var todo in Model)
    {
        <li>@todo.Name</li>
    }
</ul>