@using System.ComponentModel
@{
    ViewData["Title"] = "View Components";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    @await Component.InvokeAsync("PriorityList", new { maxPriority = 8, isDone = false })
</div>